# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/app/src/main/gen/
**/android/app/src/debug/gen/
**/android/app/src/profile/gen/
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/linux/Flutter/GeneratedPluginRegistrant.cc
**/linux/.dart_tool/
**/linux/flutter/
**/linux/plugins/
**/windows/flutter/
**/windows/plugins/
**/windows/.dart_tool/
.dart_tool/
.packages
.pub/
build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/build/

# Coverage
coverage/

# Test results
test-results/

# Exceptions to the above rules.
!**/android/**/src/main/res/drawable-*/icon.png
!**/android/**/src/main/res/drawable-*/launcher_icon.png
!**/ios/Runner/Assets.xcassets/AppIcon.appiconset/icon*.png
!**/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage*.png
!**/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
!**/macos/Runner/Assets.xcassets/AppIcon.appiconset/AppIcon*.png
!**/linux/snap/snapcraft.yaml
!**/windows/runner/resources.pri
!**/windows/runner/resources/

# Environment files
.env

# Shorebird (if contains secrets)
*/shorebird.yaml