services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: apobasi_backend
    env_file: .env
    volumes:
      - ./server:/app
      - backend_static:/app/staticfiles
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    networks:
      - apobasi_net
    restart: unless-stopped
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://localhost:8000
    container_name: apobasi_frontend
    env_file: .env
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    networks:
      - apobasi_net
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: apobasi_postgres
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:                                                                                                    
        - "5432:5432"
    networks:
      - apobasi_net
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: apobasi_redis
    env_file: .env
    volumes:
      - redis_data:/data
    ports:                                                                                                    
        - "6379:6379" 
    networks:
      - apobasi_net
    restart: unless-stopped

networks:
  apobasi_net:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
  backend_static: